<!-- move base -->
<launch>

  <param name="use_sim_time" value="true" />

    <!-- - TF -->
  <!-- <node pkg="tf" type="static_transform_publisher" name="camera_to_odom" args="0 0 0 0 0 0  /aft_mapped /odom   40" /> -->

<!-- FAST-LIO2 -->
    <!-- Parameters -->
    <include file="$(find fast_lio)/launch/mapping_velodyne.launch"/>

    <!-- Open simulation environment -->
    <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find simulation_env)/launch/include/config/rviz/liorf.rviz" /> -->

</launch>
